doctype html
html
  head
    link(href='../static/css/guest_account.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Gilda Display', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body(onload='initClock()')
    div
      ul
        li
          h1.heading GRAND HOTEL
        li(style='float:right')
          .datetime
            .date
              span#dayname Day
              |, 
              span#month Month
              span#daynum 00
              |, 
              span#year Year
            .time
              span#hour 00
              | :
              span#minutes 00
              | :
              span#seconds 00
              span#period AM
    nav.tm-nav
        #navbar.tm
            ul
                li.tm-list 
                    a(href='guest_home') Home
                li.tm-list
                    a(href='restaurant') Restaurant
                li.tm-list
                    a(href='services_contact') Services Contact
                li.tm-list
                    a(href='guest_account') Account
    .container
      .row
        h1(style='text-align:center') ACCOUNT
        .vl
          span.vl-innertext
            img(src='../static/images/Profile_Picture.png', alt='John')
        .col
          .card
            h1 #{results[0].guest_fname} #{results[0].guest_lname} - Guest
            h3 ID : #{results[0].guest_id} 
            //- p.title #{results[0].Re_id.Receptionist}
            p.title Adults: #{results[0].guest_adults}
            p.title Phone Number: #{results[0].guest_phone_number}
            p.title Daily Room Charge: #{results[0].room_type}
            p.title Email: #{results[0].guest_email}
            p.title Children: #{results[0].guest_child}
            p.title Check-In: #{results[0].checkin}
            p.title Check-Out: #{results[0].checkout}
        .col(style='float:right;')
          h1 Reset your Password
          form(action='/guest_reset', method='post')
            input(type='password', placeholder='Old Password', name='oldpswd' required)
            input(type='password', placeholder='New Password', name='pswd' required)
            input(type='password', placeholder='Confirm Password' required)
            input(type='submit', value='Proceed')
    .bottom-container
      .row
        .col(style='width: 50%')
          a#confirmLogout.btn(href='logout') Logout
        .col(style='width: 50%')
          a#confirmDeletion.btn(href='guest_delete') Check Out
  

  // Script
script.

  document
    .getElementById("confirmLogout")
    .addEventListener("click", function( e ){ 
        if( ! confirm("Do you really want to Logout?") ){
            e.preventDefault(); // ! => don't want to do this
        } else {
            //want to do this! => maybe do something about it?
            alert('Logged Out');
        }
    });

  document
    .getElementById("confirmDeletion")
    .addEventListener("click", function( e ){ 
        if( ! confirm("Do you really want to Delete This Account?") ){
            e.preventDefault(); // ! => don't want to do this
        } else {
            //want to do this! => maybe do something about it?
            alert('Account Deleted');
        }
    });

  function updateClock(){
  var now = new Date();
  var dname = now.getDay(),
  mo = now.getMonth(),
  dnum = now.getDate(),
  yr = now.getFullYear(),
  hou = now.getHours(),
  min = now.getMinutes(),
  sec = now.getSeconds(),
  pe = "AM";
  if(hou >= 12){
  pe = "PM";
  }
  if(hou == 0){
  hou = 12;
  }
  if(hou > 12){
  hou = hou - 12;
  }
  Number.prototype.pad = function(digits){
  for(var n = this.toString(); n.length < digits; n = 0 + n);
  return n;
  }
  var months = ["January", "February", "March", "April", "May", "June", "July", "Augest", "September", "October", "November", "December"];
  var week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
  var ids = ["dayname", "month", "daynum", "year", "hour", "minutes", "seconds", "period"];
  var values = [week[dname], months[mo], dnum.pad(2), yr, hou.pad(2), min.pad(2), sec.pad(2), pe];
  for(var i = 0; i < ids.length; i++)
  document.getElementById(ids[i]).firstChild.nodeValue = values[i];
  }
  function initClock(){
  updateClock();
  window.setInterval("updateClock()", 1);
  }
  window.onscroll = function() {myFunction()};
  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;
  function myFunction() {
  if (window.pageYOffset >= sticky) {
  navbar.classList.add("sticky")
  } else {
  navbar.classList.remove("sticky");
  }
  }
  
    